/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*finish reset */

:root {
  --text: "Roboto", serif;
  --background: #025464;
  --titleColor: #e57c23;
  --textColor: #e8aa42;
}

body {
  background-color: var(--background);
  font-family: var(--text);
}

.game__box {
  margin: 0 auto;
  height: 100vh;
  max-width: 1200px;
  /* background-color: aqua; */
  /* padding: 2rem; */
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-flow: column nowrap;
}

.text__box {
  padding: 2rem;
  text-align: center;
  /* background-color: azure; */
}

.text__box h1 {
  font-size: 4rem;
  color: var(--titleColor);
  font-weight: 700;
  text-shadow: 0 2px 5px black;
  padding-bottom: 4rem;
}

.text__box p {
  font-size: 2rem;
  font-weight: 700;
  color: var(--textColor);
}
.playing__box {
  display: flex;
  gap: 3rem;
}

.box__round {
  width: 150px;
  min-height: 150px;
  background-color: chocolate;
  display: flex;
  padding: 1rem;
  flex-flow: column nowrap;
  gap: 1rem;
}

.box__round .sign__box {
  width: 100%;
  min-height: 150px;
  background-color: bisque;
}

.box__round p {
  color: var(--textColor);
  font-size: 1.5rem;
  font-weight: 700;
}

.user__box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.btn {
  width: 150px;
  min-height: 150px;
  border: none;
  background: none;
  cursor: pointer;
}

.sign__container {
  background-color: #e57c23;
  padding: 1rem;
}

.sign {
  width: 150px;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--titleColor);
  border-radius: 15px;
}

.sign__rock {
  background-image: url(media/rock.png);
}

.sign__paper {
  background-image: url(media/paper.png);
}

.sign__scissor {
  background-image: url(media/scissors.png);
}
